@{
    ViewData["Title"] = "Cảm ơn bạn";
}

<div class="text-center my-5 py-5">
    <h1 class="display-4 text-success">Gửi tin nhắn thành công!</h1>
    <p class="lead">Cảm ơn bạn đã liên hệ. Chúng tôi sẽ sớm phản hồi cho bạn.</p>
    <hr class="my-4">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Quay về trang chủ</a>
</div>
